@use "sass:meta";
@use "govuk-frontend-aspnetcore";
@use "govuk-frontend" as * with (
  $govuk-font-url-function: meta.get-function("versioned-font-url", $module: "govuk-frontend-aspnetcore"),
  $govuk-image-url-function: meta.get-function("versioned-image-url", $module: "govuk-frontend-aspnetcore"),
  $govuk-global-styles: true
);

@use "lib/step-by-step/step-by-step-navigation";
@use "lib/step-by-step/step-by-step-navigation-header";
@use "lib/step-by-step/step-by-step-navigation-related";

@use "components/step-by-step";
@use "components/tags";
@use "components/dfe-header-static-sign-out";
@use "components/card";
@use "components/govuk-summary-list";

* {
  font-family: 'Inter', sans-serif !important;
}

.govuk-header__link .govuk-header__logotype {
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype {
  content: url(/images/department-for-education_black.png);
  height: 30px;
}

.govuk-width-container {
  max-width: 1140px;
}