@use "sass:meta";
@use "govuk-frontend-aspnetcore";
@use "govuk-frontend" as * with (
  $govuk-font-url-function: meta.get-function("versioned-font-url", $module: "govuk-frontend-aspnetcore"),
  $govuk-image-url-function: meta.get-function("versioned-image-url", $module: "govuk-frontend-aspnetcore"),
  $govuk-global-styles: true
);

@use "lib/step-by-step/step-by-step-navigation";
@use "lib/step-by-step/step-by-step-navigation-header";
@use "lib/step-by-step/step-by-step-navigation-related";

@use "components/card";
@use 'components/dfe-header';
@use "components/dfe-header-static-sign-out";
@use "components/feedback";
@use "components/govuk-summary-list";
@use "components/step-by-step";
@use "components/tags";

* {
  font-family: 'Inter', sans-serif !important;
}

.govuk-width-container {
  max-width: 1140px;
}