@use "govuk-frontend" as *;

.dfe-grid-container {
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-bottom:30px;
  .dfe-card {
    position:relative;
    display:flex;
    flex-direction:column;
    background-color:govuk-colour("white");
    border:1px solid #b1b4b6;
    max-width:400px;
    &:hover {
      background-color:#003a69;
    }
  }
}

@media (min-width:40.0625em) {
  .dfe-grid-container {
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:30px
  }
}
@media (max-width:40.0525em) {
  .dfe-card {
    max-width:100%
  }
}
.dfe-card>picture,
.dfe-card>picture>img {
  max-width:100%;
}
.dfe-card-container {
  padding:24px;
  display:flex;
  flex-grow:1;
  flex-direction:column;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: transparent;
  .govuk-tag{
    @include govuk-responsive-margin(3, bottom);
  }
  &.yellow{
    border-left-color: govuk-colour("yellow");
  }
  &.green{
    border-left-color: govuk-colour("green", $variant: "tint-50");
  }
  &.grey{
    border-left-color: govuk-colour("black", $variant: "tint-80");
  }
  &.orange{
    border-left-color: govuk-colour("orange", $variant: "tint-25");
  }
  &.red{
    border-left-color: #d4351c;
  }
}

.dfe-card--white-background{
  background-color: govuk-colour("white");
}

.dfe-card-container h2+p:last-child,
.dfe-card-container h3+p:last-child {
  margin-top:0
}
.dfe-card:focus-within,
.dfe-card:hover {
  background-color:#003a69;
}
.dfe-card:focus-within .govuk-heading-m,
.dfe-card:focus-within a,
.dfe-card:focus-within p,
.dfe-card:hover .govuk-heading-m,
.dfe-card:hover a,
.dfe-card:hover p {
  color:govuk-colour("white")
}
.dfe-card:focus-within {
  outline:3px solid govuk-colour("yellow");
}
.dfe-card-container .dfe-card-link--header:focus,
.dfe-card-container .dfe-card-link--retake:focus {
  color: govuk-colour("black");
}
.dfe-card-link--retake {
  position:relative;
  z-index:2
}
.dfe-card-link--header {
  text-decoration:none;
  color:#347ca9
}
.dfe-card-link--header:after {
  position:absolute;
  content:"";
  left:0;
  top:0;
  right:0;
  bottom:0
}

.start-now-cards.dfe-grid-container {
  grid-template-columns: repeat(3, 1fr);

  .dfe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

@media (max-width: 40.0525em) {
  .start-now-cards.dfe-grid-container {
    grid-template-columns: 1fr;
  }
}

.start-now-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  .dfe-card {
    width: 100%;
    max-width: none;
  }

  .dfe-card img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

@media (max-width: 40.0525em) {
  .start-now-cards {
    grid-template-columns: 1fr;
  }
}