@use "govuk-frontend" as *;

.feedback-banner {
  padding: govuk-spacing(5) govuk-spacing(4);
  background-color: govuk-colour("blue", $variant: "tint-95");
  border-top: 5px solid govuk-colour("blue");
  @include govuk-font($size: 19);
}

.footer-feedback {
  background: govuk-colour("blue", $variant: "tint-95");
  border-top: 1px solid govuk-colour("blue", $variant: "tint-50");
}
